root = true

[*]
indent_style = space
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true

[*.hs]
indent_style = space
indent_size = unset # disabled due to conflicting with stylish-haskell
max_line_length = 120
trim_trailing_whitespace = true
insert_final_newline = true